/* Body */
body { background: #FFF6ED /* from jesus_X and photoshop */; color: black; }

/* Headers */
h2, h3, h4 { -moz-border-radius: 1em; padding-left: .5em; margin-left: -.3em; margin-right: -.3em }
h2 { background: #fdb; border-bottom: 1px solid #ca8 }
h3 { background: #fdb; border-bottom: 1px solid #db9 }
h4 { background: #fdb; border-bottom: 1px solid #eca }
h4.transparent { background: transparent; border-bottom: none; }
hr { display: none }

/* Tables */
table { border: none; }
td, th { border: 1px solid ; }
td img { display: block; }

/* Tables of bookmarklets */
table.summarytable td, table.summarytable th { border-left: none; border-right: none; padding: 2px; border-top: 1px solid #db9; border-bottom: 1px solid #db9; }
table.summarytable { border-collapse: collapse; }

/* Tables of goodness (browsers.html, tipchart.html) */
td, th { border: none; }
td.good { background: #cfd; border: 1px solid #9ca; }
td.ok   { background: #ffc; border: 1px solid #cc9; }
td.bad  { background: #faa; border: 1px solid #c88; }

/* Bookmarklets */
@media all { /* Hide from NS4, which makes it a block and not a link if I add these */
 a.bml { border:1px outset #ddd; padding: 1px; vertical-align: 1px; }
}
a.bml { background: #ddd; text-decoration: none;  font-family: sans-serif; font-size: 80%; color: darkgreen; }

/* DLs: news.html, userstyles/, userstyles/xbl.html */
dt { font-weight: bold }
/* dd { margin-left: 0 } */
dd pre { margin-top: 0em; }

/* PREs: userstyles/, mylogparser.html */
pre { border: 1px solid #db9; padding: 2px; }

/* AIM Logs */
.aim { border: 1px solid #c99; width: 80%; margin: auto; padding: 2px; }
.me { background: #fdb; color: black; }
.other { background: #eca; color: black; }

/* Special paragraphs */
p.smallitalic { font-size: 80%; font-style: italic; }
.ack { border: 1px solid red; width: 80%; margin-left: auto; margin-right: auto; padding: 2px; }

/* JavaScript shell */
kbd { color: #c00; background: #FFF6ED; font: inherit; }
code { color: #080; background: #FFF6ED; }
/* code { color: blue; font: inherit; font-weight: bold;  } */

