html
{
text-align:left;
}
a
{
cursor:pointer;
text-decoration:none;
color:#0000FF;
} 
a:hover
{
color:#0066FF;
text-decoration:none;
}
#fragment
{
width:100%;
}
#previewcontrols
{
text-align:center;
}
#dataURI
{
width:25%;
}
.jslink
{
cursor:pointer;
}
.output
{
width:300px;
}
h1
{
font-size:23px;
font-weight:bold;
}
#dataframe
{
border:0px solid black;
width:95%;
height:800px;
}
label
{
font-weight:bold;
}
label[for="vsource"]
{
font-weight:normal;
cursor:pointer;
}